{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href='{% static "bower_components/toastr/toastr.min.css" %}'>
    <link rel='stylesheet' href='{% static "infernoWeb/css/inside.css" %}'>
    {% block insideStyleSheet %}
    {% endblock %}
{% endblock %}
{% block content%}
    <div class="ui centered grid">
            <div class="ten wide column">
                {# 放該主題的大頭貼 基本介紹 以及雷達圖!!! #}
                {% block profile %}
                {% endblock %}
            </div>
            <div class="eight wide column">
                {% block shopDetail %}
                    <h2>可以考慮要不要放一些文字敘述和照片充版面</h2>
                {% endblock %}
            </div>
            <div class="ten wide column">
                <h2>評論</h2>
                <div id="comments">
                </div>
                <div class="ui reply form">
                    <div class="field">
                        <textarea placeholder="新增公開留言" name="comments"></textarea>
                        <button class="ui primary button" id="reply222">送出</button> 
                        <div class="ui floating dropdown button" id='emotionDropdown'>
                          <div class="text"><i class="heart icon"></i>選擇情緒</div>
                          <i class="dropdown icon"></i>
                          <div class="menu">
                            <a class="item" data-value='neutral'><i class="meh icon"></i>中立</a>
                            <a class="item" data-value='neg'><i class="frown icon"></i>反面評論</a>
                            <a class="item" data-value='pos'><i class="smile icon"></i>正面評論</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src={% static "bower_components/toastr/toastr.min.js" %}></script>
    <script src={% static "infernoWeb/js/infernoWeb/inside.min.js" %}></script>
    {% block insideJavascript %}
    {% endblock %}
{% endblock %}