<section class='stufinite-course-info-container'>
  <i class="fa fa-window-close stufinite-course-info-close" aria-hidden="true">X</i>
  <div class="title-container">
    <h2 class='title'></h2><span class='professor'></span>
  </div>
  <div class='review-container'>
    <label>課程心得：</label>
    <button class='review-btn'><a id="course-review">點此跳轉</a></button>
  </div>
  <div class='radar-chart-container'>
    <label>課程雷達圖：</label>
    <div class="chart-container"></div>
  </div>

  <ul class='stufinite-course-info' id="course-detail"></ul>

  <button id="add-to-timetable" class='add-btn'><a>加入課表</a></button>
</section>
