<div class="timetable-prompt" id="prompt-login">
  <section class="stufinite-form-container">
    <i id="user-login-cancel-btn" class="fa fa-window-close" aria-hidden="true">X</i>

    <h1>登入使用更多功能</h1>
    <div class='form'>
      <ul>
        <li>儲存課表</li>
        <li>分享課程心得</li>
        <li>取得實習資訊</li>
      </ul>
    </div>
    <button class="loginBtn loginBtn--facebook">
      <a id='user-login-btn'><i class="fa fa-facebook-square" aria-hidden="true"></i> 使用 Facebook 帳號繼續</a>
    </button>
  </section>
</div>
