<button class='searchbar-toggle-btn' type="button" name="button">顯示搜尋結果</button>
<section class="stufinite-app-searchbar-container">
    <i class="fa fa-window-close stufinite-searchbar-close stufinite-app-searchbar-toggle" aria-hidden="true">X</i>
    <div class='stufinite-searchbar-title'>
        <span>搜尋結果</span>
    </div>

    <div class="stufinite-searchbar-tab">
        <span class='tab-deptObl'>必修</span>
        <span class='tab-deptOpt'>選修</span>
        <span class='tab-general'>通識</span>
        <span class='tab-PE'>體育</span>
        <span class='tab-others'>其他</span>
        <span class='tab-search'>搜尋</span>
    </div>

    <div class="stufinite-searchbar-department-select-container">
        <select class="stufinite-searchbar-department-select"></select>
        <button class='stufinite-searchbar-department-button'>顯示</button>
    </div>

    <div class="stufinite-searchbar-result-container">
        <div class="deptObl-container">
            <div class="stufinite-searchbar-placeholder">
                <span>此標籤頁無搜尋結果，請查看其他標籤頁，或點擊空堂時段或使用關鍵字搜尋</span>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>必修課程</span>
                </div>
                <div class="stufinite-searchbar-dept-list">
                    <div class="obligatory"></div>
                    <div class="obligatory-1"></div>
                    <div class="obligatory-2"></div>
                    <div class="obligatory-3"></div>
                    <div class="obligatory-4"></div>
                    <div class="obligatory-5"></div>
                    <div class="obligatory-6"></div>
                    <div class="obligatory-7"></div>
                    <div class="obligatory-8"></div>
                    <div class="obligatory-9"></div>
                </div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>雙主修必修課程</span>
                </div>
                <div class="stufinite-searchbar-result-list second-obligatory"></div>
            </div>
        </div>

        <div class="deptOpt-container">
            <div class="stufinite-searchbar-placeholder">
                <span>此標籤頁無搜尋結果，請查看其他標籤頁，或點擊空堂時段或使用關鍵字搜尋</span>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>本系選修課程</span>
                </div>
                <div class="stufinite-searchbar-dept-list">
                    <div class="optional"></div>
                    <div class="optional-1"></div>
                    <div class="optional-2"></div>
                    <div class="optional-3"></div>
                    <div class="optional-4"></div>
                    <div class="optional-5"></div>
                    <div class="optional-6"></div>
                    <div class="optional-7"></div>
                    <div class="optional-8"></div>
                    <div class="optional-9"></div>
                </div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>雙主修選修課程</span>
                </div>
                <div class="stufinite-searchbar-result-list second-optional"></div>
            </div>
        </div>

        <div class="general-container">
            <div class="stufinite-searchbar-placeholder">
                <span>此標籤頁無搜尋結果，請查看其他標籤頁，或點擊空堂時段或使用關鍵字搜尋</span>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>人文</span>
                </div>
                <div class="stufinite-searchbar-result-list human"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>社會</span>
                </div>
                <div class="stufinite-searchbar-result-list society"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>自然</span>
                </div>
                <div class="stufinite-searchbar-result-list nature"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>大學國文</span>
                </div>
                <div class="stufinite-searchbar-result-list chinese"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>大一英文</span>
                </div>
                <div class="stufinite-searchbar-result-list english foreign-post"></div>
            </div>
        </div>

        <div class="PE-container">
            <div class="stufinite-searchbar-placeholder">
                <span>此標籤頁無搜尋結果，請查看其他標籤頁，或點擊空堂時段或使用關鍵字搜尋</span>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>體育</span>
                </div>
                <div class="stufinite-searchbar-result-list PE"></div>
            </div>
        </div>

        <div class="others-container">
            <div class="stufinite-searchbar-placeholder">
                <span>此標籤頁無搜尋結果，請查看其他標籤頁，或點擊空堂時段或使用關鍵字搜尋</span>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>師資培育中心</span>
                </div>
                <div class="stufinite-searchbar-result-list teacher-post"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>教官室</span>
                </div>
                <div class="stufinite-searchbar-result-list military-post"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>語言中心</span>
                </div>
                <div class="stufinite-searchbar-result-list foreign-post"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>全年級選修課程</span>
                </div>
                <div class="stufinite-searchbar-result-list non-graded-optional-post"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>其他課程</span>
                </div>
                <div class="stufinite-searchbar-result-list others"></div>
            </div>
        </div>

        <div class="search-container">
            <div class="stufinite-searchbar-placeholder">
                <span>此標籤頁無搜尋結果，請查看其他標籤頁，或點擊空堂時段或使用關鍵字搜尋</span>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>必修課程</span>
                </div>
                <div class="stufinite-searchbar-result-list obligatory-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>本系選修課程</span>
                </div>
                <div class="stufinite-searchbar-result-list optional-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>雙主修必修課程</span>
                </div>
                <div class="stufinite-searchbar-result-list second-obligatory-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>雙主修選修課程</span>
                </div>
                <div class="stufinite-searchbar-result-list second-optional-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>人文</span>
                </div>
                <div class="stufinite-searchbar-result-list human-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>社會</span>
                </div>
                <div class="stufinite-searchbar-result-list society-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>自然</span>
                </div>
                <div class="stufinite-searchbar-result-list nature-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>大學國文</span>
                </div>
                <div class="stufinite-searchbar-result-list chinese-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>大一英文</span>
                </div>
                <div class="stufinite-searchbar-result-list english-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>體育</span>
                </div>
                <div class="stufinite-searchbar-result-list PE-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>師資培育中心</span>
                </div>
                <div class="stufinite-searchbar-result-list teacher-post-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>教官室</span>
                </div>
                <div class="stufinite-searchbar-result-list military-post-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>語言中心</span>
                </div>
                <div class="stufinite-searchbar-result-list foreign-post-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>全年級選修課程</span>
                </div>
                <div class="stufinite-searchbar-result-list non-graded-optional-post-search"></div>
            </div>

            <div class="stufinite-searchbar-result">
                <div class="stufinite-searchbar-result-title">
                    <span>其他課程</span>
                </div>
                <div class="stufinite-searchbar-result-list others-search"></div>
            </div>
        </div>
    </div>
</section>
