<section class='timetable' id='time-table'>
    <table class='table'>
        <thead>
            <tr>
                <th style='width: 4%;'></th>
                <th style='width: 19%;'>一</th>
                <th style='width: 19%;'>二</th>
                <th style='width: 19%;'>三</th>
                <th style='width: 19%;'>四</th>
                <th style='width: 19%;'>五</th>
            </tr>
        </thead>
        <tbody>
            <tr data-hour='1'>
                <th>
                    <h5 class='time'>08:10</h5>
                </th>
                <td data-day='1'></td>
                <td data-day='2'></td>
                <td data-day='3'></td>
                <td data-day='4'></td>
                <td data-day='5'></td>
            </tr>
            <tr data-hour='2'>
                <th>
                    <h5 class='time'>09:10</h5>
                </th>
                <td data-day='1'></td>
                <td data-day='2'></td>
                <td data-day='3'></td>
                <td data-day='4'></td>
                <td data-day='5'></td>
            </tr>
            <tr data-hour='3'>
                <th>
                    <h5 class='time'>10:10</h5>
                </th>
                <td data-day='1'></td>
                <td data-day='2'></td>
                <td data-day='3'></td>
                <td data-day='4'></td>
                <td data-day='5'></td>
            </tr>
            <tr data-hour='4'>
                <th>
                    <h5 class='time'>11:10</h5>
                </th>
                <td data-day='1'></td>
                <td data-day='2'></td>
                <td data-day='3'></td>
                <td data-day='4'></td>
                <td data-day='5'></td>
            </tr>
            <tr data-hour='5'>
                <th>
                    <h5 class='time'>13:10</h5>
                </th>
                <td data-day='1'></td>
                <td data-day='2'></td>
                <td data-day='3'></td>
                <td data-day='4'></td>
                <td data-day='5'></td>
            </tr>
            <tr data-hour='6'>
                <th>
                    <h5 class='time'>14:10</h5>
                </th>
                <td data-day='1'></td>
                <td data-day='2'></td>
                <td data-day='3'></td>
                <td data-day='4'></td>
                <td data-day='5'></td>
            </tr>
            <tr data-hour='7'>
                <th>
                    <h5 class='time'>15:10</h5>
                </th>
                <td data-day='1'></td>
                <td data-day='2'></td>
                <td data-day='3'></td>
                <td data-day='4'></td>
                <td data-day='5'></td>
            </tr>
            <tr data-hour='8'>
                <th>
                    <h5 class='time'>16:10</h5>
                </th>
                <td data-day='1'></td>
                <td data-day='2'></td>
                <td data-day='3'></td>
                <td data-day='4'></td>
                <td data-day='5'></td>
            </tr>
            <tr data-hour='9'>
                <th>
                    <h5 class='time'>17:10</h5>
                </th>
                <td data-day='1'></td>
                <td data-day='2'></td>
                <td data-day='3'></td>
                <td data-day='4'></td>
                <td data-day='5'></td>
            </tr>
            <tr data-hour='10'>
                <th>
                    <h5 class='time'>18:20</h5>
                </th>
                <td data-day='1'></td>
                <td data-day='2'></td>
                <td data-day='3'></td>
                <td data-day='4'></td>
                <td data-day='5'></td>
            </tr>
            <tr data-hour='11'>
                <th>
                    <h5 class='time'>19:15</h5>
                </th>
                <td data-day='1'></td>
                <td data-day='2'></td>
                <td data-day='3'></td>
                <td data-day='4'></td>
                <td data-day='5'></td>
            </tr>
            <tr data-hour='12'>
                <th>
                    <h5 class='time'>20:10</h5>
                </th>
                <td data-day='1'></td>
                <td data-day='2'></td>
                <td data-day='3'></td>
                <td data-day='4'></td>
                <td data-day='5'></td>
            </tr>
            <tr data-hour='13'>
                <th>
                    <h5 class='time'>21:05</h5>
                </th>
                <td data-day='1'></td>
                <td data-day='2'></td>
                <td data-day='3'></td>
                <td data-day='4'></td>
                <td data-day='5'></td>
            </tr>
        </tbody>
    </table>
</section>
