<div class='timetable-prompt' id='stufinite-create-user-profile'>
    <section class="stufinite-form-container">
        <h1>輸入學籍資料</h1>
        <div class='form'>
            <p>
                <label for="">就讀學校</label>
                <select id="user-profile-school" name="school">
                  <option value="NCHU">國立中興大學</option>
                </select>
            </p>
            <p>
                <label for="">學制</label>
                <select id="user-profile-career" name="career">
                </select>
            </p>
            <p>
                <label for="">科系</label>
                <select id="user-profile-department" name="department">
                </select>
            </p>
            <p>
              <label for="">年級</label>
              <input id="user-profile-grade" max="7" min="1" name="grade" type="number" value="1" required="">
            </p>
            <button id="user-profile-btn">繼續</button>
            <button id="user-profile-cancel-btn">取消</button>
        </div>
    </section>
</div>
